@charset "utf-8";

/*
common
================================================ */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  color: #000;
  background-color: #EDF1F4;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.s-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.section_title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

/*
header
================================================ */
header {
  width: 100%;
}

.header_group {
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #EDF1F4;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* open */
.header_group.open {
  box-shadow: none;
  background-color: #FEFEFE;
}

h1 a img {
  width: 120px;
  line-height: 1px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FEFEFE;
  z-index: 50;
  margin-top: 77px;
  transition: all 0.4s ease;
  /* open前 */
  transform: translateX(100%);
  opacity: 0;
}

/* open */
.nav.open {
  transform: translateX(0);
  opacity: 1;
}

.nav_list {
  margin-top: 60px;
}

.nav_item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.nav_item::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #000;
}

.nav_item:not(:first-of-type) {
  margin-top: 35px;
}

.nav_item a {
  font-size: 20px;
}

.hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.hamburger_bar {
  height: 3px;
  width: 100%;
  background-color: #333;
  position: absolute;
  transition: 0.4s;
  border-radius: 2px;
}
.hamburger_bar:nth-child(1) { top: 0; }
.hamburger_bar:nth-child(2) { top: 11px; }
.hamburger_bar:nth-child(3) { top: 22px; }

.hamburger.open .hamburger_bar:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}
.hamburger.open .hamburger_bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .hamburger_bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}


/*
hero
================================================ */
.hero {
  width: 100%;
  aspect-ratio: 390 / 283;
  position: relative;
  margin-top: 77px;
}

.hero_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hero_title-left {
  font-size: 48px;
  font-size: clamp(24px, calc(100vw * (48/390)), 96px);
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1;
  color: #eee;
  z-index: 10;

  position: absolute;
  top:calc(100% * (30/283));
  left: 16px;
}

.hero_title-right {
  position: absolute;
  bottom: calc(100% * (30/283));
  right: 16px;
  font-weight: 800;
  font-size: 24px;
  font-size: clamp(24px, calc(100vw * (24/390)), 48px);
  color: #eee;
  z-index: 10;
}


/*
services
================================================ */
.services {
  margin-top: 60px;
}

.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 100px;
  margin-top: 30px;
}

.services_item {
  padding: 32px 16px;
  background-color: #FEFEFE;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  /* subgrid */
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row: span 3;
  row-gap: 0;
}

.services_img {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.services_title {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.services_txt {
  margin-top: 20px;
  font-size: 16px;
}


/*
skills
================================================ */
.skills {
  margin-top: 60px;
}

.skills_jenre:first-of-type {
  margin-top: 30px;
}

.skills_jenre:not(:first-of-type) {
  margin-top: 50px;
}

.skills_name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.skills_list  {
  margin-top: 20px;
}

.skills_item {
  padding: 10px;
  background-color: #FEFEFE;
  max-width: 350px;
  margin: 30px auto;
  border-radius: 10px;
}

.skills_item--top {
  margin-top: 0;
}

.skills_item-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.skills_item-img {
  display: block;
  width: 100%;
  max-width: 75px;
  margin: 10px auto;
}

.skills_item-txt {
  margin-top: 10px;
  font-size: 16px;
}


/*
works
================================================ */
.works {
  margin-top: 60px;
}

.works_list {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 40px;
}

.works_item {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0;
  grid-row: span 2;
}

.works_img {
  width: 100%;
  height: auto;
}

.works_txtZone {
  padding: 15px 10px 10px;
  background-color: #FEFEFE;
  border-radius: 0 0 10px 10px;
}

.works_topic {
  font-size: 20px;
}

.works_category {
  margin-top: 12px;
  font-size: 16px;
}

.works_role {
  margin-top: 12px;
  font-size: 16px;
}

.works_tool {
  margin-top: 12px;
  font-size: 16px;
}


/*
about
================================================ */
.about {
  width: 100%;
  max-width: 500px;
  margin: 60px auto;
  padding: 16px;
  background-color: #FEFEFE;
}

.about_group {
  margin-top: 30px;
}

.about_img {
  display: block;
  width: 100%;
  max-width: 176px;
  margin: 0 auto;
}

.about_txtZone {
  margin-top: 30px;
}

.about_name {
  font-size: 24px;
  text-align: center;
}

.about_name span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.about_txt {
  margin-top: 30px;
  font-size: 16px;
  line-height: 2;
}


/*
contact
================================================ */
.contact {
 margin-top: 60px;
 background-color: #fefefe;
}

.s-wrapper--contact {
  padding: 0;
}

.contact iframe {
  width: 100%;
  height: 1250px;
  margin: 0 auto;
}


/*
footer
================================================ */
.wrapper--footer {
  margin-top: 60px;
  padding: 16px;
}

.footer_logo a img {
  display: block;
  width: 100%;
  max-width: 150px;
  line-height: 1px;
  margin: 0 auto;
}

.footer_nav {
  margin-top: 30px;
}

.footer_nav-list {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.footer_nav-item a {
  font-size: 14px;
}

.copy {
  margin-top: 30px;
}

.copy small {
  font-size: 12px;
}

.copy small .sp-none {
  display: none;
}

.copy small span {
  display: block;
  text-align: center;
}